legacy-peer-deps=true
@maas-themes:registry=https://nexus.luizalabs.com/repository/npm/
@maas-components:registry=https://nexus.luizalabs.com/repository/npm/
@shell-components:registry=https://nexus.luizalabs.com/repository/npm/
@maas-tools:registry=https://nexus.luizalabs.com/repository/npm/
@ps-components:registry=https://nexus.luizalabs.com/repository/npm/
//nexus.luizalabs.com/repository/npm/:_auth=${NEXUS_AUTH}
